@model IEnumerable<Real_State_project.Models.users>
@using Real_State_project.Security;

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Real Estate Home</title>
    <link rel="stylesheet" href="~/content/bootstrap.css">
    <link rel="stylesheet" href="~/content/font-awesome.min.css">
    <link rel="stylesheet" href="~/content/adminAdd_style.css">
    <link rel="icon" href="~/img/house.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">


    <style>
        .aaa a,
        .aaa a:hover {
            text-decoration: none;
            color: #fff
        }
    </style>



</head>

<body>


    <!-- start header -->
    <div class="header">
        <div class="slider">
            <div style=" color: #fff;">
                welcome  @sessionPersiter.Username
                <br />
                <a href="@Url.Action("Logout","Account")">Logout</a>
            </div>
            <div class="intro text-center">
                <h2>Project Manager</h2>
            </div>
        </div>

    </div>
    <!-- end header -->
    <!--- start admin profile -->
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                <h4 class="brand-name">Real <span>Estate</span> Home</h4>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">Home</a></li>

                    <li><a href="/ProjectManagers/listJE">Junior Engineer</a></li>
                    <li><a href="/ProjectManagers/Search">Search Junior Engineer</a></li>
                    <li class="active"><a href="/ProjectManagers/SearchTL">Search Team Leader</a></li>
                    <li><a href="/TeamLeaders/AddFeedback">Feedback</a></li>
                </ul><br>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Blog..">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            @using (Html.BeginForm("Search", "ProjectManagers", FormMethod.Get))
            {
                <p>Search By</p>
                @Html.RadioButton("searchBy", "firstname", true) <text>firstname</text>
                @Html.RadioButton("searchBy", "lastname", true) <text>lastname</text>
                <br />
                @Html.TextBox("search") <input type="submit" value="search" />
            }
            <div class="col-sm-9">
                <div class="container-fluid">


                    <div class="row">
                        <div class="projects">
                            <div class="col-sm-12">
                                <br>
                                <table class="table table-striped ">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.email)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.firstname)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.lastname)
                                            </th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            if (item.usertypeId == 3)
                                            {

                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.email)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.firstname)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.lastname)
                                                    </td>

                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>


                            <div class="col-sm-12">
                                <div style="margin-top: 30px;">

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--- end admin profile -->
    <!-- start footer -->
    <div class="footer text-center">
        <div class="container">
            <i class="fa fa-facebook fa-2x fa-fw"></i>
            <i class="fa fa-twitter fa-2x fa-fw"></i>
            <i class="fa fa-google-plus fa-2x fa-fw"></i>
            <i class="fa fa-pinterest fa-2x fa-fw"></i>
            <i class="fa fa-instagram fa-2x fa-fw"></i>
            <i class="fa fa-stumbleupon fa-2x fa-fw"></i>
            <i class="fa fa-rss fa-2x fa-fw"></i>

            <p>&copy; 2019 IA Team</p>
        </div>
    </div>
    <!-- end footer -->

    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
